// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

// Colors
$white: #ffffff;
$black: #000000;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 900;
