/* Fonts */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

/* Colors */

$black: #000000;
$white: #ffffff;

:root {
    --bg-color: #ffffff;
    --primary-color: #007acc;
    --secondary-color: #b2b2b2;
    --primary-font-color: #121214;
    --secondary-font-color: #2a2a2a;
    --line-color: #27272a;
}

//Dark theme
[data-theme='dark'] {
    --bg-color: #121214;
    --primary-color: #007acc;
    --secondary-color: #27272a;
    --primary-font-color: #ffffff;
    --secondary-font-color: #b2b2b2;
    --line-color: #27272a;
}

/* Font Weights */
$bold: 700;
$extra-bold: 900;
